body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
        text-align: center;

}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}
h3 {
        text-align: center;

}
#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

button {
    background-color: #008CBA; /* Green */
    border-style: solid;
    border:black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.rooms {
    padding: 10px;
}

.msg {
    padding: 10px;
    margin: 5px;
    border-style: solid;
    background-color: #ddffff;
    
    
}

.userName {
    color: blue;
    font-size: 125%;
    
    
    
}
.userName:hover {
    cursor: pointer;
    font-size: 125%;
}

.friends {
    font-weight: Bold;
    font-size: 125%;
    color: blue;
}

.time {
    font-size: 75%;
    float: right;
    vertical-align: bottom;
}
